<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>\
    <style>
        * {
        margin:0;
        box-sizing:border-box;
        }
        #main{
        text-align:center;
        padding-top:50px;
        }
    </style>
</head>
<body>
<div id="main">
 <h1>Find the weather</h1>
<form method="GET">
    <label for="city"></label>
    <input type="text" name="city" id="city" placeholder="City..."><br>
    <input type="submit" value="Submit">
    <label>{{region}}</label>
    <label>{{daytime}}</label>



</form>
</div>

</body>
</html>